<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Normal</title>
  </head>
  <body>
    <p>
      In real life you were absent for <%=year%> years, <%=month%> months,
      <%=day%> days.
    </p>
  </body>
</html>
