<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <p>
      In quantum space you were absent for <%= quantumYear %> years, <%=
      quantumMonth %> months, <%= quantumDay %> days.
    </p>
  </body>
</html>
